body, td {
   font-family: courier;
   background-color: white;
   font-size: 11px;
}

body {
  max-width: 800px;
  width: 100%;
  margin-top: 0;
  margin-right: 0.5em;
  margin-bottom: 0;
  margin-left: 0.5em;
  padding: 0;
  line-height: 16px;
  border: none;
}

tt, code, pre {
   font-family: 'DejaVu Sans Mono', 'Droid Sans Mono', 'Lucida Console', Consolas, Monaco, monospace;
}

h1 {
   font-size:2.2em;
}

h2 {
   font-size:1.8em;
}

h3 {
   font-size:1.4em;
}

h4 {
   font-size:1.0em;
}

h5 {
   font-size:0.9em;
}

h6 {
   font-size:0.8em;
}

a:visited {
   color: rgb(50%, 0%, 50%);
}

pre, img {
  max-width: 100%;
}
pre {
  overflow-x: auto;
}
pre code {
   display: block; 
   padding: 0.5em;
}

code {
  font-size: 90%;
  border: none;
}

code[class] {
  background-color: white;
}

table, td, th {
  border: none;
}

blockquote {
   color:#666666;
   margin:0;
   padding: 0;
   border: none;
}